[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pymysql = "*"
beautifulsoup4 = "*"

[packages]
pyTelegramBotAPI = "3.7.2"

[requires]
python_version = "3.8"
